<div style="display: flex; gap: 20px">
  <div>
    <h2>List years with multiple winners</h2>

    <div>
      <table
        mat-table
        [dataSource]="listYearsMultWinners"
        class="mat-elevation-z8"
      >
        <!-- Year Column -->
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let element">{{ element.year }}</td>
        </ng-container>

        <!-- Win Count Column -->
        <ng-container matColumnDef="winnerCount">
          <th mat-header-cell *matHeaderCellDef>Win Count</th>
          <td mat-cell *matCellDef="let element">{{ element.winnerCount }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>

  <div>
    <h2>Top 3 studios with winners</h2>

    <div>Table</div>
  </div>

  <div>
    <h2>Producers with longest and shortest interval between wins</h2>

    <div>Table</div>
  </div>

  <div>
    <h2>List movie winners by year</h2>

    <div>Table</div>
  </div>
</div>
