<div class="container">
  <h2>List movies</h2>

  <table mat-table [dataSource]="listMovies" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="text-center w-20">Id</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        {{ element.id }}
      </td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef class="text-center w-20">
        <p>Year</p>
        <mat-form-field>
          <mat-label>Filter by year</mat-label>
          <input
            id="filter-year"
            matInput
            placeholder="Year"
            [(ngModel)]="filterYear"
            maxlength="4"
            type="tel"
            (change)="onChangeYear($event)"
          />
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.year }}
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="text-center w-50">Title</th>
      <td mat-cell *matCellDef="let element">
        {{ element.title }}
      </td>
    </ng-container>

    <!-- Winner Column -->
    <ng-container matColumnDef="winner">
      <th mat-header-cell *matHeaderCellDef class="text-center w-20">
        <p>Winner</p>
        <mat-form-field>
          <mat-label>Is winner?</mat-label>
          <mat-select
            id="filter-winner"
            [(ngModel)]="filterWinner"
            (selectionChange)="onChangeWinner($event)"
            [value]="''"
          >
            <mat-option [value]="0">All</mat-option>
            <mat-option [value]="1">Yes</mat-option>
            <mat-option [value]="2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.winner | boolean }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsListMovies"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsListMovies"></tr>
  </table>

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
