/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.menu-active .mdc-list-item__primary-text {
  color: blue !important;
}

.mat-toolbar {
  background-color: #343942 !important;
  color: white !important;
}

.menu-drawer {
  width: 500px;
}
